<h2>Welcome to the travel bucket list</h2>

<p>Use this web application to record countries and cities you have visitied, and those still waiting on your bucket list!</p>

<img src="/images/city1.jpeg" alt="City Skyline"> <img src="/images/city2.jpeg" alt="City Skyline"> <img src="/images/city3.jpeg" alt="City Skyline"> <img src="/images/city4.jpeg" alt="City Skyline">
