<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Travel Bucket List</title>
  <link rel='stylesheet' type="text/css" href='/styles/style.css'>
</head>
<body>
  <h1>Travel Bucket List</h1>
  <nav>
      <h2>Menu > <a href="/">Home</a> | <a href="/countries">Countries</a> | <a href="/cities">Cities</a></h2>
  </nav>
  <hr color="darkblue" align="left" width="75%"></hr>
  <%= yield %>
</body>
</html>
