<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Travel Bucket List</title>
  <link rel="stylesheet" type="text/css" href="<%= url('/styles/style.css') %>">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <meta name="Keywords" content="Countries,Cities,Travel,Tourism,Holiday,Vacation,Reviews,Ratings">
  <meta name="Description" content="An app to record visits to countries and cities and those still on the bucket list, allowing users to assign reviews and ratings to cities.">
</head>
<body>
  <pg-head-style>Travel Bucket List</pg-head-style>
  <nav>
    <pg-menu-style>Menu: <a href="/">Home</a> | <a href="/countries">Countries</a> | <a href="/cities">Cities</a></pg-menu-style>
  </nav>
  <hr color="#437FC7" align="left" width="75%"></hr>
  <%= yield %>
</body>
</html>
