<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Travel Bucket List</title>
  <link rel='stylesheet' type="text/css" href='/styles/style.css'>
</head>
<body>
  <h1>Travel Bucket List</h1>
  <nav>
      <h2><a href="/">Home</a> | <a href="/countries">Manage Countries</a> | <a href="/cities">Manage Cities</a></h2>
  </nav>
  <%= yield %>
</body>
</html>
