<h2>Click to show city details:</h2>
<p><% for city in @cities %></p>
<ul>
<h3><a href="/cities/<%= city.id %>"><%= city.name %></a></h3>
</ul>
<p><% end %></p>
<h3><a href="/cities/new">Click to add a new city</a></h3>
