<h1>This is your city bucket list. Click the cities to edit their details:</h1>
<p></p>

<% for city in @cities %>
<li>
<a href="/cities/<%= city.id %>"><%= city.name %></a>
</li>
<% end %>

<p><a href="/cities/new">Click here to add a new city!</a></P>
