<h2>Click to show city details:</h2>
<p><% for city in @cities %></p>
<ul>
<p><a href="/cities/<%= city.id %>"><%= city.name %></a></p>
</ul>
<p><% end %></p>
<a href="/cities/new">Click to add a new city</a>
