<h2>City Bucket List</h2>
<p><% for city in @cities %></p>
<p>City Name: <%= city.name %><a href="/cities/<%= city.id %>"> - Show City</a></p>
<hr color="lightblue" align="left" width="75%"></hr>
<p><% end %></p>
