<form method="post" action="/cities">

<ul>
  <label for="city-name">City Name:</label>
    <input id="city-name" type="text" name="name"/>
</ul>
<ul>
  <label for="city-visited">City Visited (true/false):</label>
    <input id="city-visited" type="text" name="city_visited"/>
</ul>
<ul>
<label for="country-select">Select the city's country:</label>
  <select id="country-select" name="country_id">
    <% for country in @countries %>
    <option value=<%= country.id %>><%= country.name %></option>
    <% end %>
  </select>
</ul>
  <input type="submit" value="Create City"/>

</form>
