<form method="post" action="/cities">

<ul>
  <label for="city-name">City Name:</label>
    <input id="city-name" type="text" name="name"/>
</ul>
<ul>
  <label for="city-visited">City Visited:</label>
    <select id="city-visited" name="city_visited">
        <option value="true">Yes</option>
        <option value="false" selected>Not Yet</option>
    </select>

</ul>
<ul>
<label for="country-select">City's Country:</label>
  <select id="country-select" name="country_id">
    <% for country in @countries %>
    <option value=<%= country.id %>><%= country.name %></option>
    <% end %>
  </select>
</ul>
  <input type="submit" value="Create City"/>

</form>
