<h2>Click to edit or delete city:</h2>

<ul>
<p><%= @city.name %></p>
</ul>

<a href="/cities/<%= @city.id %>/edit">Edit City</a>

<form action="/cities/<%= @city.id %>/delete" method="post">
    <input type="submit" value="Delete City"/>
</form>
