<form action="/countries/<%= @country.id %>" method="post">
<ul>
  <label for="country-name">Country Name:</label>
    <input id="country-name" type="text" name="name" value="<%= @country.name %>"/>
</ul>
<ul>
  <label for="country-visited">Country Visited:</label>
    <select id="country-visited" name="country_visited">
      <option value="true"<%= "selected" if @country.country_visited == "t" %>>Yes</option>
      <option value="false"<%= "selected" if @country.country_visited == "f" %>>Not Yet</option>
    </select>
</ul>

  <input type="submit" value="Save Country"/>

</form>
