<h2>Click to show country details:</h2>
<p><% for country in @countries %></p>
<ul>
<h3><a href="/countries/<%= country.id %>"><%= country.name %></a></h3>
</ul>
<p><% end %></p>
<h3><a href="/countries/new">Click to add a new country</a></h3>
