<h2>Click to show country details:</h2>
<p><% for country in @countries %></p>
<ul>
<p><a href="/countries/<%= country.id %>"><%= country.name %></a></p>
</ul>
<p><% end %></p>
<a href="/countries/new">Click to add a new country</a>
