<h2>Country Bucket List</h2>
<p><% for country in @countries %></p>
<p>Country Name: <%= country.name %><a href="/countries/<%= country.id %>"> - Show Country</a></p>
<hr color="lightblue" align="left" width="75%"></hr>
<p><% end %></p>
