<form method="post" action="/countries">

<ul>
  <label for="country-name">Country Name:</label>
    <input id="country-name" type="text" name="name"/>
</ul>
<ul>
  <label for="country-visited">Country Visited (true/false):</label>
    <input id="country-visited" type="text" name="country_visited"/>
</ul>

  <input type="submit" value="Create Country"/>

</form>
