<form method="post" action="/countries">

  <label for="country-name">Country Name:</label>
    <input id="country-name" type="text" name="name"/>

  <label for="country-visited">Country Visited (true/false):</label>
    <input id="country-visited" type="text" name="country_visited"/>

  <input type="submit" value="Create City"/>

</form>
