<h1>Enter the new country's details below:</h1>

<form method="post" action="/countries">

  <ul>
    <label for="country-name">Country Name:</label>
      <input id="country-name" type="text" name="name"/>
  </ul>

  <ul>
    <label for="country-visited">Country Visited:</label>
      <select id="country-visited" name="country_visited">
        <option value="true">Yes</option>
        <option value="false" selected>Not Yet</option>
      </select>
  </ul>

  <input type="submit" value="Create Country"/>

</form>
